{% include "skins/default/header.html" %}
  	
	<p><b><font color="orange">Fo</font></b>rums <b><font color="orange">Fo</font></b>r Yo<b><font color="orange">u</font></b>!</p>

		{% if forums %}
			<p>Available forums:
				<ul>
					{% for f in forums %}
					<li> <a href="/{{ f.url }}"> {{ f.title_or_url }}</a></li>
					{% endfor %}
				</ul>
			</p>
		{% else %}
			<p>There are no forums created yet.</p>
		{% endif %}

		{% if not isadmin %}
			<p>Log in as admin to create new forums or manage existing forums.</p>
		{% endif %}
	</div>

{% include "skins/default/footer.html" %}
